<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body}, 'vets')}">
<head>
    <meta charset="UTF-8">
    <title>Lista de Veterinarios</title>
</head>
<body>
    <h1 th:text="'Lista de Veterinarios...'">Lista Vets</h1>

    <table class="table table-striped">
        <thead>
        <th>Id</th>
        <th>FirstName</th>
        <th>LastName</th>
        </thead>
        <tbody>
        <tr th:each="vet : ${vets}">
            <td th:text="${vet.id}">1</td>
            <td th:text="${vet.firstName}">1</td>
            <td th:text="${vet.lastName}">1</td>
        </tr>
        </tbody>

    </table>
</body>
</html>